{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="index-section {% if section.settings.flush_vertical %} py-0 {% endif %}">
  <div class="page-width tile-row-wrapper {% if section.settings.section_height != 'natural' %} restrict-height {% endif %} {% if section.settings.flush_horizontal %} px-0 {% endif %}">
    {%- capture image_layout -%}
      <div class="tile-row__item" data-aos>
          {%- if section.settings.image != blank -%}
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}<a href="{{ section.settings.button_link }}">{%- endif -%}
                <div class="image-wrap tile-image" style="{% if section.settings.section_height == 'natural' %} height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image.aspect_ratio }}%; {% endif %}">
                  {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="tile-row__image lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ section.settings.image.alt }}">
                </div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}</a>{%- endif -%}
          {%- endif -%}
          {%- if section.settings.image == blank -%}
            <div>
              <div class="image-wrap tile-image-wrap">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            </div>
          {%- endif -%}
      </div>
    {%- endcapture -%}

    <div class="tile-row" >
      {%- if section.settings.layout == 'left' -%}
        {{ image_layout }}
      {%- endif -%}
      <div class="tile-row__item tile-row__text" style="background-color: {{ section.settings.background_color }};">
        <div class="text-{{ section.settings.align_text }}" data-aos>
          {%- if section.settings.subtitle != blank -%}
            <div class="subheading appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.subtitle }}</div>
          {%- endif -%}
          {%- if section.settings.title != blank -%}
            <h2 class="h1 appear-delay{% cycle '','-1','-2','-3','-4' %}" style="color: {{ section.settings.heading_color }};">{{ section.settings.title | escape }}</h2>
          {%- endif -%}
          {%- if section.settings.text != blank -%}
            <p class="rte appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.text }}</p>
          {%- endif -%}
          {%- if section.settings.button_label != blank -%}
            <div class="appear-delay{% cycle '','-1','-2','-3','-4' %}">
              <a href="{{ section.settings.button_link }}" class="btn{% if section.settings.button_style == 'secondary' %} btn--secondary{% endif %}" style="background-color: {{ section.settings.button_color }};">
                {{ section.settings.button_label }}
              </a>
            </div>
          {%- endif -%}
        </div>
      </div>

      {%- if section.settings.layout == 'right' -%}
        {{ image_layout }}
      {%- endif -%}
    </div>
  </div>

</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% style %}
    .text-left,
    .text-right{
      text-align: center !important;
    }
    .restrict-height {
      height: auto;
    }
    .restrict-height img {
      height: {{ section.settings.section_height }};
    }
    @media(min-width: 769px){
      .restrict-height {
        height: {{ section.settings.section_height }};
      }
    }
{% endstyle %}

{% schema %}
  {
    "name": "Image Tile",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "section_height",
        "label": "Section height",
        "default": "natural",
        "options": [
          {
            "value": "natural",
            "label": "Natural"
          },
          {
            "value": "300px",
            "label": "300px"
          },
          {
            "value": "400px",
            "label": "400px"
          },
          {
            "value": "500px",
            "label": "500px"
          },
          {
            "value": "600px",
            "label": "600px"
          },
          {
            "value": "700px",
            "label": "700px"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "flush_vertical",
        "label": "Vertically Flush",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "flush_horizontal",
        "label": "Horizonally Flush",
        "default": false
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Colour",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading Colour",
        "default": "rgba(1,1,1,1)"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "Button Colour",
        "default": "rgba(1,1,1,1)"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "primary",
        "options": [
          {
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          }
        ]
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          },
          {
            "value": "right",
            "label": "Image on right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Image Tile"
      }
    ]
  }
{% endschema %}
